@model ResetPasswordViewModel
@{
    string title = "اعادة تعيين كلمة المرور";
    ViewData["Title"] = title;
}


<partial name="_Messages" />
@section PageHeading{
    <partial name="_PageTitle" model="@title" />

}
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-4">
                        <h5>
                            اعادة تعيين كلمة المرور
                        </h5>
                    
                    </div>
                    <form asp-action="ResetPassword" asp-area="Settings">
                        <div class="row  justify-content-center align-items-center">
                            <input asp-for="UserId" type="hidden" />
                            <div class="mb-3">
                                <label asp-for="UserName">اسم المستخدم</label>
                                <input asp-for="UserName" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password">كلمة المرور</label>
                                <input asp-for="Password" class="form-control" type="password" />
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-danger">اعادة تعيين</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

