@using Horizon.Areas.Store.ViewModel.StoreItems;
@model InqueryContainerForProduct
@{
    var title = "استعلام للتجميع منتج";
    ViewData["Title"] = title;
    string data = JsonConvert.SerializeObject(Model);

}

<partial name="_Messages" />
@section PageHeading{
    <partial name="_PageTitle" model="@title" />
}

<card title="بيانات المنتج" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>اسم المنتج</label>
                    <input data-bind="value:StoreItem.ProductName" disabled="disabled" class="form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>نوع المنتج</label>
                    <input data-bind="value:StoreItem.FamilyName" disabled="disabled" class="form-control" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>ماركة المنتج</label>
                    <input data-bind="value:StoreItem.StoreBrandName" disabled="disabled" class="form-control" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>كمية المنتج</label>
                    <input data-bind="value:StoreItem.Quantity"  class="form-control" />
                </div>
            </div>
            <div class="col-12" >
                <div class="row justify-content-center align-items-center">
                    <button class="btn btn-primary mt-4 w-50" data-bind="click:InqueryProduct">استعلام للمنتج</button>
                </div>
            </div>
        </div>
    </div>
</card>



<card title="التفاصيل" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <table class="table table-bordered table-striped table-hover" data="visible:InqueryDetails.length>0">

        <thead class="bg-primary text-white">
            <tr>
                <th>
                     العنصر
                </th>
                <th>
                    عدد المستلزامات
                </th>
                <th>
                    الكمية المطلوبة للتصنيع
                </th>
                <th>
                    الكمية من المستلزامات
                </th>
                <th>
                    الكمية المطلوبة للشراء 
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach:InqueryDetails">
            <tr>
                <td>
                    <input type="text" class="form-control" disabled data-bind="value:StoreItemRawName" />
                </td>
                <td>
                    <input type="text" class="form-control" disabled data-bind="value:NumberStoreItemRaw" />
                </td>
                <td>
                    <input type="text" class="form-control" disabled data-bind="value:MinimumAmount" />
                </td>
                <td>
                    <input type="text" class="form-control" disabled data-bind="value:AvailableAmount" />
                </td>
                <td>
                    <input type="text" class="form-control text-danger" disabled data-bind="value:NeededAmount" />
                </td>
            </tr>

        </tbody>

    </table>
</card>




@*
<card-footer>
    <partial name="_SaveButton" />
</card-footer> *@


@section Scripts {
    <script src="~/lib/knockout/knockout-3.5.0.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
    <script src="~/lib/knockout-validation/knockout.validation.js"></script>
    <script src="~/lib/knockout-validation/localization/ar-JO.js"></script>
    <script src="~/APP/General/KoAddtionalHandler.js" asp-append-version="true"></script>
    <script src="~/APP/General/KOValidationSetup.js" asp-append-version="true"></script>
    <script src="~/APP/General/SaveAjax.js" asp-append-version="true"></script>
    <script src="~/APP/General/ManageUI.js" asp-append-version="true"></script>
    <script src="~/APP/Store/StoreItems/InqueryContainerForProductRules.js" asp-append-version="true"></script>
    <script src="~/APP/Store/StoreItems/InqueryContainerForProduct.js" asp-append-version="true"></script>


    <script type="text/javascript">
        var inquery = new InqueryStoreItem(@Html.Raw(data));
        ko.applyBindings(inquery);
        ko.bindingHandlers.select2 = {
            update: function (element, valueAccessor, allBindingsAccessor) {
                $(element).select2();
            }
        }
    </script>


}