@model PurchaseContainer
@{
    var title = "تفاصيل اذن اضافة خامات";
    ViewData["Title"] = title;
    string data = JsonConvert.SerializeObject(Model);
}

@section PageHeading{
    <partial name="_PageTitle" model="@title" />

}


<card title="بيانات المورد" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>اسم المورد</label>  :
                    <input class="form-control" readonly data-bind="value:Supplier.SupplierName" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>التليفون</label>  :
                    <input readonly class="form-control" data-bind="value:Supplier.Phone1"/>
                </div>
            </div>

        </div>
    </div>

</card>

<card title="بيانات امر الانتاج" addational-class="fa-list-ol" 
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>رقم امر الانتاج</label>  :
                    <input class="form-control" readonly data-bind="value:PurchaseOrder.PurchaseOrderNumber"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>تاريخ امر الانتاج</label>  :
                    <input class="form-control" readonly  data-bind="value:PurchaseOrder.PurchaseOrderDate"/>
                </div>
            </div>

        </div>
    </div>

</card>

<card title="تفاصيل عملية التخزين" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <table class="table table-bordered table-striped table-hover">

        <thead class="bg-primary text-white">

            <tr>
                <th>
                    اسم المنتج
                </th>

                <th>
                    الكمية
                </th>
                <th style="width:15%">
                    سعر الوحدة
                </th>

                <th>
                    السعر الإجمالي
                </th>
               
            </tr>
        </thead>
        <tbody data-bind="foreach: PurchaseDetails">
            <tr>
                <td>
                    <span  data-bind="text:StoreItemName"></span>
                </td>

                <td>
                    <span  data-bind="numericText:Qty" ></span>
                </td>

                <td>
                    <span  data-bind="numericText:UnitPrice"></span>
                </td>
                <td>
                    <span  data-bind="numericText:TotalAmount"></span>
                </td>
               
            </tr>

        </tbody>
        <tbody>
            <tr>
                <td></td>
                <td><span class="fw-bold" data-bind="numericText:TotalQTY"></span></td>
                <td><b>الاجمالي</b></td>
                <td><span  class="fw-bold" data-bind="numericText:TotalAmount"></span></td>
            </tr>
        </tbody>
    </table>
</card>


<card title="ملخص عملية التخزين" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>تاريخ الفاتورة</label>  :
                    <span class="form-control" data-bind="text:PurchaseInfo.PurchasingDate"><</span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>رقم الفاتورة </label>  :
                    <span class="form-control"  data-bind="text:PurchaseInfo.InvoiceNum()==''?'غير متاح':PurchaseInfo.InvoiceNum"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>ملاحظات</label>  :
                    <textarea class="form-control" rows="5" readonly data-bind="text:PurchaseInfo.Notes"></textarea>
                </div>
            </div>

        </div>
    </div>
</card>


@section Scripts {
    <script src="~/lib/knockout/knockout-3.5.0.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
    <script src="~/lib/knockout-validation/knockout.validation.js"></script>
    <script src="~/lib/knockout-validation/localization/ar-JO.js"></script>
    <script src="~/APP/General/KoAddtionalHandler.js" asp-append-version="true"></script>
    <script src="~/APP/General/KOValidationSetup.js" asp-append-version="true"></script>
    <script src="~/APP/General/SaveAjax.js" asp-append-version="true"></script>
    <script src="~/APP/General/ManageUI.js" asp-append-version="true"></script>
    <script src="~/APP/Purchases/PurchaseValidationRules.js" asp-append-version="true"></script>
    <script src="~/APP/Purchases/PurchaseContainer.js" asp-append-version="true"></script>


    <script type="text/javascript">
        var purchase = new Purchase(@Html.Raw(data));
        ko.applyBindings(purchase);
    </script>


}