@model PurchaseContainer
@{
    var title = "عملية طلب تخزين مستلزمات جديدة";
    ViewData["Title"] = title;
    string data = JsonConvert.SerializeObject(Model);
}

<partial name="_Messages" />

@section PageHeading{
    <partial name="_PageTitle" model="@title" />

}


<card title="بيانات المورد" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>اسم المورد</label>
                    <input data-bind="value:Supplier.SupplierName" disabled="disabled" class="form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>التليفون</label>
                    <input data-bind="value:Supplier.Phone1" disabled="disabled" class="form-control" />
                </div>
            </div>

        </div>
    </div>

</card>

<card title="تفاصيل عملية تخزين المستلزمات" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <table class="table table-bordered table-striped table-hover">

        <thead class="bg-primary text-white">

            <tr>
                <th>
                    المنتج
                </th>

                <th>
                    الكمية
                </th>
                <th style="width:15%">
                    سعر الوحدة
                </th>

                <th>
                    السعر الإجمالي
                </th>
                <th>
                    <button class="btn btn-dark" data-bind="click:AddItem">
                        <span class="fa fa-plus"></span>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: PurchaseDetails">
            <tr>
                <td>
                    <div>
                        @Html.Editor("StoreItemId","StoreItemRawList", new
                        {
                        htmlAttributes = new
                        {
                        @data_bind = "value:StoreItemId,select2,event:{change:$parent.UpdateItem}",
                        @class = "form-select",

                        }
                        })

                    </div>
                </td>

                <td>
                    <input type="text" class="form-control" data-bind="value:Qty" />
                </td>

                <td>
                    <input type="text" class="form-control" data-bind="value:UnitPrice" />
                </td>
                <td>
                    <span data-bind="numericText:TotalAmount"></span>
                </td>
                <td>
                    <button class="btn btn-danger" data-bind="click:$parent.RemoveItem">
                        <span class="fa fa-minus"></span>
                    </button>
                        
                </td>
            </tr>

        </tbody>
        <tbody>
            <tr>
                <td></td>
                <td><span class="fw-bold" data-bind="numericText:TotalQTY"></span></td>
                <td><b>الاجمالي</b></td>
                <td><span class="fw-bold" data-bind="numericText:TotalAmount"></span></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</card>


<card title="ملخص عملية التخزين" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>تاريخ التخزين للمستلزمات</label>
                    <input data-bind="value:PurchaseInfo.PurchasingDate" class="form-control smallDate" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>رقم الفاتورة </label>
                    <input data-bind="value:PurchaseInfo.InvoiceNum"  class="form-control" />
                </div>
            </div>

        </div>
    </div>


    <card-footer>
        <partial name="_SaveButton" />
    </card-footer>
</card>

@section Scripts {



    <script src="~/lib/knockout/knockout-3.5.0.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
    <script src="~/lib/knockout-validation/knockout.validation.js"></script>
    <script src="~/lib/knockout-validation/localization/ar-JO.js"></script>
    <script src="~/APP/General/KoAddtionalHandler.js" asp-append-version="true"></script>
    <script src="~/APP/General/KOValidationSetup.js" asp-append-version="true"></script>
    <script src="~/APP/General/SaveAjax.js" asp-append-version="true"></script>
    <script src="~/APP/General/ManageUI.js" asp-append-version="true"></script>
    <script src="~/APP/Purchases/PurchaseValidationRules.js" asp-append-version="true"></script>
    <script src="~/APP/Purchases/PurchaseContainer.js" asp-append-version="true"></script>


    <script type="text/javascript">
        var purchase = new Purchase(@Html.Raw(data));
        ko.applyBindings(purchase);
        ko.bindingHandlers.select2 = {
            update: function (element, valueAccessor, allBindingsAccessor) {
                $(element).select2();
            }
        }

    </script>


}