@model List<OrderVM> 
@{
    var title = "قائمة امر الشغل";
    ViewData["Title"] = title;
    string data = JsonConvert.SerializeObject(Model);
}
@section PageHeading{
    <partial name="_PageTitle" model="@title" />

}


<card title=@title addational-class="fa-list-ol"
          text-color-class="text-white" header-class="bg-primary">
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th>تسلسل</th>
                <th>اسم العميل</th>
                <th>تاريخ امر الشغل</th>
                <th>تاريخ التسليم</th>
                <th>الكمية</th>
                <th>الحالة</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:items">
            <tr>
                <td><span data-bind="text:NoOfOrder"></span></td>
                <td><span data-bind="text:ClientName"></span></td>
                <td><span data-bind="text:OrderDate"></span></td>
                <td><span data-bind="text:DeliveryOrder"></span></td>
                <td><span data-bind="text:TotalAmount"></span></td>
                <td>
                    <span class="text-primary h5" data-bind="visible:OrderStatus()==0">جديد</span>
                    <span class="text-warning h5" data-bind="visible:OrderStatus()==1">جارى التنفيذ</span>
                    <span class="text-success h5" data-bind="visible:OrderStatus()==2">تم التنفيذ</span>
                </td>
                <td>
                    <a data-bind="attr:{href:'/Orders/Order/OrderDetails/'+Id() }" class="btn btn-sm btn-info">تفاصيل</a>
                    <a data-bind="attr:{href:'/Orders/Order/PrintOrder/'+Id() }" class="btn btn-sm btn-success">طباعة</a>
                    <a data-bind="visible:OrderStatus()==0,attr:{href:'/Orders/Order/StartProcessOrder/'+Id() }" class="btn btn-sm btn-primary">معالجة امر الشغل</a>
                    <a data-bind="visible:(OrderStatus()==2&&IsInvoiceSale()==false),attr:{href:'/Sales/Home/ManageSalesForOrder/'+Id() }" class="btn btn-sm btn-secondary">انشاء فاتورة لامر الشغل</a>

                </td>
                
            </tr>
        </tbody>
    </table>
  @*  <card-footer>
        <a data-bind="attr:{href:'/Order/Client/ManageRecord/0'}" class="btn btn-primary">اصدار امر شغل</a>
    </card-footer>*@
</card>







@section Scripts {
    <script src="~/lib/knockout/knockout-3.5.0.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
    <script src="~/APP/General/GeneralTableViewModel.js" asp-append-version="true"></script>
    
    <script type="text/javascript">
        var order = new GeneralTable(@Html.Raw(data));
        ko.applyBindings(order);
    </script>


}

