@model OrderContainer
@{
    var title = " امر شغل ";
    ViewData["Title"] = title;
    string data = JsonConvert.SerializeObject(Model);
}

<partial name="_Messages" />

@section PageHeading{
    <partial name="_PageTitle" model="@title" />

}



<card title="بيانات العميل" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>اسم العميل</label>
                    <input data-bind="value:Client.ClientName" disabled="disabled" class="form-control" />
                </div>
            </div>
             <div class="col-6">
                <div class="form-group">
                    <label>التليفون</label>
                    <input data-bind="value:Client.Phone1" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</card>


<card title="تفاصيل امر الشغل" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <table class="table table-bordered table-striped table-hover">
      
        <thead class="bg-primary text-white">

            <tr>
                <th>
                    المنتج
                </th>

                <th>
                    الكمية
                </th>     
                <th style="width:10%">
                    سعر الوحدة
                </th>

                <th>
                    السعر الإجمالي
                </th>
                <th>
                    <button class="btn btn-dark" data-bind="click:AddItem">
                        <span class="fa fa-plus"></span>
                    </button>
                </th>
            </tr>

        </thead>
        <tbody data-bind="foreach:OrderDetail">
            <tr>
                <td>
                    @Html.Editor("Id","StoreItemsList", new
                    {
                            htmlAttributes = new
                            {
                                @data_bind = "value:ProductId,event:{change:$parent.UpdateItem},select2",
                                @class = "form-select",
                            }
                    })
                </td>

                <td>
                    <input type="text" class="form-control" data-bind="value:QTY" />
                </td>

                <td>
                    <input type="text" class="form-control" data-bind="value:UnitPrice" />
                </td>
                <td>
                    <span data-bind="numericText:TotalAmount"></span>
                </td>
                <td>
                    <button class="btn btn-danger" data-bind="click:$parent.RemoveItem">
                        <span class="fa fa-minus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td></td>
                <td><span class="fw-bold" data-bind="numericText:TotalQTY"></span></td>
                <td><b>الاجمالي</b></td>
                <td><span class="fw-bold" data-bind="numericText:Order.TotalAmount"></span></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</card>


<card title="بيانات امر الشغل" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>تاريخ امر الشغل</label>
                    <input data-bind="value:Order.OrderDate" class="form-control smallDate" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>الكمية</label>
                    <input disabled data-bind="value:Order.TotalAmount" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</card>
<card-footer>
    <partial name="_SaveButton" />
</card-footer>

@section Scripts {
    <script src="~/lib/knockout/knockout-3.5.0.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
    <script src="~/lib/knockout-validation/knockout.validation.js"></script>
    <script src="~/lib/knockout-validation/localization/ar-JO.js"></script>
    <script src="~/APP/General/KoAddtionalHandler.js" asp-append-version="true"></script>
    <script src="~/APP/General/KOValidationSetup.js" asp-append-version="true"></script>
    <script src="~/APP/General/SaveAjax.js" asp-append-version="true"></script>
    <script src="~/APP/General/ManageUI.js" asp-append-version="true"></script>
    <script src="~/APP/Orders/OrderValidationRules.js" asp-append-version="true"></script>
    <script src="~/APP/Orders/OrderContainer.js" asp-append-version="true"></script>


    <script type="text/javascript">
        var order = new OrderContainer(@Html.Raw(data));
        ko.applyBindings(order);
        ko.bindingHandlers.select2 = {
            update: function (element, valueAccessor, allBindingsAccessor) {
                $(element).select2();
            }
        }
        $("#StoreLocID").select2();
    </script>


}