@using Horizon.Areas.Orders.Models;
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - MG</title>

    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/RTL/BS5RTL.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/RTL/DashboardRTL.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" />
    <link href="~/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/dist/css/select2custome.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
    <div class="se-pre-con"></div>
    <nav class="border-bottom sb-topnav navbar navbar-expand navbar-light bg-white d-print-none">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3 text-center" href="~/Home">
            <img src="~/Images/Logo.png" />
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">

            <li class="nav-item dropdown">
                <a target="_blank" class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i>مرحبا @User.Identity.Name!</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="~/Identity/Account/Manage/ChangePassword">
                            تغيير كلمة المرور
                        </a>
                    </li>
                    <li>
                        <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">خروج</button>
                        </form>
                    </li>

                </ul>
            </li>


        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" class="d-print-none">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">


                        <div class="sb-sidenav-menu-heading">العملاء والمواردين</div>
                        <a class="nav-link" href="~/Sales/Client/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            قائمة العملاء
                        </a>
                        <a class="nav-link" href="~/Purchases/Supplier/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            قائمة الموردين
                        </a>


                        <div class="sb-sidenav-menu-heading">اوامر الشغل</div>
                        <a class="nav-link" href="~/Orders/Order/Index?Status=@OrderStatus.New">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            امر شغل - جديد
                        </a>
                        <a class="nav-link" href="~/Orders/Order/Index?Status=@OrderStatus.Process">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            امر شغل - يتم المعالجة
                        </a>
                        <a class="nav-link" href="~/Orders/Order/Index?Status=@OrderStatus.Done">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            امر شغل - تم التجهيز
                        </a>
                        <a class="nav-link" href="~/Orders/Order/ProcessIndex">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            تحت التنفيذ
                        </a>

                        <div class="sb-sidenav-menu-heading">المخازن</div>
                        <a class="nav-link collapsed" href="#"
                           data-bs-toggle="collapse"
                           data-bs-target="#ProductSettings"
                           aria-expanded="false"
                           aria-controls="pagesCollapseAuth">
                            <div class="sb-nav-link-icon"><i class="fab fa-product-hunt"></i></div>
                            المنتجات
                            <div class="ms-2 sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="ProductSettings" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">

                                <a class="nav-link" href="~/Store/StoreItems/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    قائمة المنتجات
                                </a>
                                <a class="nav-link" href="~/Store/StoreFamily/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    انواع المنتجات
                                </a>
                                <a class="nav-link" href="~/Store/StoreBrand/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    الماركات
                                </a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#"
                           data-bs-toggle="collapse"
                           data-bs-target="#StoreSettings"
                           aria-expanded="false"
                           aria-controls="pagesCollapseAuth">
                            <div class="sb-nav-link-icon"><i class="fab fa-product-hunt"></i></div>
                            اعدادات المخزن
                            <div class="ms-2 sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="StoreSettings" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Store/StoreItemRaw/TeakIndex">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    مستلزمات الانتاج الصاج
                                </a>
                                <a class="nav-link" href="~/Store/StoreItemRaw/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    مستلزمات الانتاج الاكسوارات
                                </a>
                                <a class="nav-link" href="~/Store/StoreLocations/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    المخازن
                                </a>
                                <a class="nav-link" href="~/Store/StoreMeasureUnit/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    وحدات القياس
                                </a>

                                <a class="nav-link" href="~/Store/RawItemType/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    قائمة الانواع
                                </a>
                            </nav>
                        </div>


                        <div class="sb-sidenav-menu-heading">الفواتير</div>
                        <a class="nav-link" href="~/Purchases/Home/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            فواتير تخزين المستلزمات
                        </a>
                        <a class="nav-link" href="~/Sales/Home/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            فواتير صرف منتج
                        </a>

                        <div class="sb-sidenav-menu-heading">التقارير</div>
                        <a class="nav-link collapsed" href="#"
                           data-bs-toggle="collapse"
                           data-bs-target="#ClientReports"
                           aria-expanded="false"
                           aria-controls="pagesCollapseAuth">
                            <div class="sb-nav-link-icon"><i class="fab fa-product-hunt"></i></div>
                            التقارير
                            <div class="ms-2 sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="ClientReports" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Sales/Reports/SalesBetweenDate">تقرير مبيعات المنتج </a>
                                <a class="nav-link" href="~/Purchases/Reports/PurchaesBetweenDate">تقرير مشتريات المسلتزمات </a>
                                <a class="nav-link" href="~/Manufacturing/Reports/ManufacturingReport"> تقرير تجميع منتج</a>
                                <a class="nav-link" href="~/Store/Reports/GetAmountBalanceStoreItemInStore">تقرير جرد المنتجات</a>
                                <a class="nav-link" href="~/Store/Reports/GetAmountBalanceStoreItem">تقرير ارصدة المنتجات</a>
                                <a class="nav-link" href="~/Store/Reports/GetAmountBalanceStoreItemRaw">تقرير ارصدة المستلزمات</a>
                                <a class="nav-link" href="~/Store/Reports/GetAmountBalanceStoreItemNotCollect">تقرير ارصدة منتجات غير مجمعة</a>
                                <a class="nav-link" href="~/Store/Reports/GetAmountBalanceStoreItemNotCollectFromPurchase">تقرير ارصدة منتجات غير مجمعة (سعر الصاج)</a>
                            </nav>
                        </div>


                        <a class="sb-sidenav-menu-heading nav-link collapsed" href="#"
                           data-bs-toggle="collapse"
                           data-bs-target="#Users"
                           aria-expanded="false"
                           aria-controls="pagesCollapseAuth">
                            <div class="sb-nav-link-icon"><i class="fab fa-product-hunt"></i></div>
                            المستخدمين
                            <div class="ms-2 sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="Users" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Settings/UserAdmin/UserManagment">المستخدمين</a>
                                <a class="nav-link" href="~/Settings/UserAdmin/RoleManagement">الصلاحيات</a>
                            </nav>
                        </div>

                    </div>
                </div>

            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div class="alert alert-dark alert-dismissible fade"
                         id="feedback" role="alert">

                        <button type="button" class="btn-close"
                                data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                @await RenderSectionAsync("PageHeading", required: false)


                <div class="container-fluid p-4">
                    @RenderBody()

                </div>

            </main>
            @*<footer class="py-4 bg-light mt-auto fixed-bottom">
            <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2021</div>
            <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
            </div>
            </div>
            </div>
            </footer>*@
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery-1.10.2.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery-number/jquery.number.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/bootstrap5/js/bootstrap.bundle.min.js"></script>
    @* <script src="https://cdn.jsdelivr.XYZ/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> *@
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/APP/General/General.js" asp-append-version="true"></script>


    <script src="~/dist/js/select2.full.min.js"></script>
    <script src="~/dist/js/select2.full.js"></script>
    <script src="~/dist/js/select2.js"></script>
    <script src="~/dist/js/select2.min.js"></script>
    <script asp-append-version="true">
        $(document).ready(function () {
            $(".nav-link").on("click", function (e) {
                e.stopPropagation();
                var target = $(this).data("bs-target");
                var toggleId = target;
                var menuState = localStorage.getItem(toggleId);
                if (menuState !== null && menuState === "open" && toggleId != undefined) {
                    $(this).find(".collapse").removeClass("show");
                    $(`[data-bs-target="#${toggleId}"]`).addClass("collapsed");
                    localStorage.setItem(toggleId, "closed");
                } else if (toggleId != undefined) {
                    $(`[data-bs-target="#${toggleId}"]`).removeClass("collapsed");
                    $(this).find(".collapse").addClass("show");
                    localStorage.setItem(toggleId, "open");
                }
            });

            $(".collapse").each(function () {
                var toggleId = $(this).attr("id");
                var menuState = localStorage.getItem("#" + toggleId);
                if (menuState === "open" && toggleId != undefined) {
                    $(this).addClass("show");
                    $(`[data-bs-target="#${toggleId}"]`).removeClass("collapsed");
                } else {
                    $(`[data-bs-target="#${toggleId}"]`).addClass("collapsed");
                    $(this).removeClass("show");
                }
            });

        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

