@page
@model LockoutModel
@{
    ViewData["Title"] = "المستخدم غير نشيط";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">هذا الحساب غير مفعل , حاول لاحقا</p>
</header>
