@model ItemRawContainer
@{
    var title = "كارت صنف لمستلزمات الانتاج";
    ViewData["Title"] = title;
    string data = JsonConvert.SerializeObject(Model);
}

<partial name="_Messages" />

@section PageHeading{
    <partial name="_PageTitle" model="@title" />

}

<card title=@title addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container ">
        <div class="row mx-auto border p-2" style="width:90%">
            <div class="col-6  mb-2">
                <label>اسم المادة</label>  :
                <span data-bind="text:StoreItemRaw.ItemName"></span>
            </div>
            <div class="col-6 mb-2">
                <label>اسم المادة عربى</label>  :
                <span data-bind="text:StoreItemRaw.ItemNameAr"></span>
            </div>
            <div class="col-6 mb-2">
                <label>نوع المادة</label>    :
                <span data-bind="text:StoreItemRaw.RawItemTypeName"></span>
            </div>
            <div class="col-6 mb-2">
                <label>الكمية</label>    :
                <span data-bind="text:StoreItemRaw.QTY"></span>
            </div>
            <div class="col-6 mb-2">
                <label>الرصيد</label>    :
                <span data-bind="text:StoreItemRaw.Balance"></span>
            </div>
        </div>
    </div>
</card>

<card title="تفاصيل التحركات" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="form-group row col-4">
                <label class="col-sm-2 col-form-label">من</label>
                <div class="col-sm-10">
                    <input data-bind="value:TransactionRawContainer.Search.StartDate" class=" smallDate form-control" />
                </div>
            </div>
            <div class="form-group row col-4">
                <label class="col-sm-2 col-form-label">الى</label>
                <div class="col-sm-10">
                        <input data-bind="value:TransactionRawContainer.Search.EndDate" class=" smallDate form-control" />
                </div>
            </div>
            <div class="form-group row col-4">
                <div class="col-sm-10">
                    <a class="btn btn-primary w-100" data-bind="click:LoadReport">عرض التقرير</a>
                </div>
            </div>
            </div>

    </div>
 
    <div class="container">
               <div class="row justify-content-center align-items-center">
            <div class="col-6  mb-2">
                    <label>رصيد أول المدة</label>
                    <span data-bind="text:TransactionRawContainer.Search.StartBalance" class=" form-control mx-2"></span>
            </div>
            <div class="col-6  mb-2">
                    <label>رصيد أخر المدة</label>
                    <span data-bind="text:TransactionRawContainer.Search.EndBalance" class=" form-control mx-2"></span>
            </div>

        </div>
    </div>
    <card title="" addational-class="fa-list-ol"
          text-color-class="text-white" header-class="bg-primary">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>التاريخ</th>
                    <th>الكمية</th>
=                    <th>الكمية بعد</th>
                    <th>الوصف</th>
                    <th>نوع العملية</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:TransactionRawContainer.StoreItemRawTransactions">
                <tr>
                    <td><span data-bind="text:TransDate"></span></td>
                    <td><span data-bind="text:QTY"></span></td>
                    <td><span data-bind="text:QtyAfter"></span></td>
                    <td><span data-bind="text:Descrpition"></span></td>
                    <td data-bind="visible:TransType == 0">
                            <a target="_blank" class="btn btn-primary" data-bind="text: TransTypeName, attr: { href: '/Purchases/Home/DetailsPurchase/' + ReferanceId }"></a>
                    </td>
                    <td data-bind="visible:TransType == 1">
                            <a target="_blank" class="btn btn-success" data-bind="text: TransTypeName, attr: { href: '/Manufacturing/Home/DetailsManufacturing/' + ReferanceId }"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </card>

</card>



@section Scripts {
    <script src="~/lib/knockout/knockout-3.5.0.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
    <script src="~/lib/knockout-validation/knockout.validation.js"></script>
    <script src="~/lib/knockout-validation/localization/ar-JO.js"></script>
    <script src="~/APP/General/KoAddtionalHandler.js" asp-append-version="true"></script>
    <script src="~/APP/General/KOValidationSetup.js" asp-append-version="true"></script>
    <script src="~/APP/General/SaveAjax.js" asp-append-version="true"></script>
    <script src="~/APP/General/ManageUI.js" asp-append-version="true"></script>
    <script src="~/APP/Store/Reports/ItemContainer.js" asp-append-version="true"></script>

    <script type="text/javascript">
        var report = new CardReport(@Html.Raw(data));
        ko.applyBindings(report);
    </script>
        }