@model SalesContainer
@{
    var title = "عملية صرف منتج جديدة";
    ViewData["Title"] = title;
    string data = JsonConvert.SerializeObject(Model);
}

<partial name="_Messages" />

@section PageHeading{
    <partial name="_PageTitle" model="@title" />

}


<card title="بيانات العميل" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>اسم العميل</label>
                    <input data-bind="value:Client.ClientName" disabled="disabled" class="form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>التليفون</label>
                    <input data-bind="value:Client.Phone1" disabled="disabled" class="form-control" />
                </div>
            </div>

        </div>
    </div>

</card>

<card title="تفاصيل عملية صرف للمنتجات" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <table class="table table-bordered table-striped table-hover">

        <thead class="bg-primary text-white">

            <tr>
                <th>
                    المنتج
                </th>

                <th>
                    الكمية
                </th>
                <th style="width:15%">
                    سعر الوحدة
                </th>

                <th>
                    السعر الإجمالي
                </th>
              
            </tr>
        </thead>
        <tbody data-bind="foreach: SaleDetails">
            <tr>
                <td>
                    @Html.Editor("Id","StoreItemsList", new
                    {
                            htmlAttributes = new
                            {
                                @data_bind = "value:StoreItemId,select2,event:{change:$parent.UpdateItem}",
                                @class = "form-select",
                                @disabled = "disabled"

                            }
                    })
                </td>

                <td>
                    <input type="text" class="form-control" data-bind="value:QTY" disabled />
                </td>

                <td>
                    <input type="text" class="form-control" data-bind="value:UnitPrice"  />
                </td>
                <td>
                    <span data-bind="numericText:TotalAmount"></span>
                </td>
               
            </tr>

        </tbody>
        <tbody>
            <tr>
                <td></td>
                <td><span class="fw-bold" data-bind="numericText:TotalQTY"></span></td>
                <td><b>الاجمالي</b></td>
                <td><span class="fw-bold" data-bind="numericText:SaleInfo.TotalAmount"></span></td>
            </tr>
        </tbody>
    </table>
</card>


<card title="ملخص عملية الصرف" addational-class="fa-list-ol"
      text-color-class="text-white" header-class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>تاريخ الصرف</label>
                    <input data-bind="value:SaleInfo.SalesDate" class="form-control smallDate" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>رقم الفاتورة </label>
                    <input data-bind="value:SaleInfo.InvoiceNum" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>مخزن الصرف</label>
                    @Html.Editor("Id","StoreLocationList", new
                    {
                            htmlAttributes = new
                            {
                    @data_bind = "value:SaleInfo.StoreLocationId",
                                @class = "form-select",
                                @id = "StoreLocID"
                            }
                    })
                </div>
            </div>

        </div>
    </div>


    <card-footer>
        <partial name="_SaveButton" />
    </card-footer>
</card>


@section Scripts {
    <script src="~/lib/knockout/knockout-3.5.0.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
    <script src="~/lib/knockout-validation/knockout.validation.js"></script>
    <script src="~/lib/knockout-validation/localization/ar-JO.js"></script>
    <script src="~/APP/General/KoAddtionalHandler.js" asp-append-version="true"></script>
    <script src="~/APP/General/KOValidationSetup.js" asp-append-version="true"></script>
    <script src="~/APP/General/SaveAjax.js" asp-append-version="true"></script>
    <script src="~/APP/General/ManageUI.js" asp-append-version="true"></script>
    <script src="~/APP/Sales/SalesValidationRules.js" asp-append-version="true"></script>
    <script src="~/APP/Sales/SalesContainer.js" asp-append-version="true"></script>


    <script type="text/javascript">
        var sales = new Sales(@Html.Raw(data));
        ko.applyBindings(sales);
        ko.bindingHandlers.select2 = {
            update: function (element, valueAccessor, allBindingsAccessor) {
                $(element).select2();
            }
        }
        $("#StoreLocID").select2();
    </script>


}